/* styles.css */

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Averia Serif', Arial, sans-serif;

}

header {
    background-image: url('flower_ceiling.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 240px;
}

section {
    text-align: center;
    padding: 20px;
    margin: 20px;
}

.title {
    display: flex;        /* Enables Flexbox layout */
    justify-content: center; /* Centers the items horizontally */
    align-items: center;  /* Aligns the items vertically */
}

footer {
    text-align: center;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 16px;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: normal;
}

h2 {
    font-size: 1.8em;
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: normal;
}

.script {
    font-family: 'Euphoria Script', cursive;
    font-weight: 400;
    font-style: normal;
    padding-left: 16px;
    padding-right: 16px;
}

p {
    font-size: 1.2em;
    font-family: "Averia Serif Libre", serif;
    font-weight: 300;
    font-style: normal;
    line-height: 0.5;
}